<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagens</title>
    <link rel="stylesheet" href="/_css/estilo.css">
    <link rel="stylesheet" href="/_css/estilo-admin.css">
</head>

<body>
    <script src="/_javascript/admin-file.js"></script>
    <div id="interface">
        <header id="cabecalho">
            <hgroup>
                <h1>Google Glass</h1>
                <h2>A revolução do Google está chegando</h2>
            </hgroup>
    
            <img id="icone" src="/_audiovisual/glass-oculos-preto-peq.png" alt="Óculos Google Glass preto">
       
            <nav id="menu">
                <ul>
                    <li><a href="/login-admin">LOG OUT</a></li>
                </ul>
            </nav>
        </header>
    
        {% if (messages.length != 0) %}
        
            {% for message in messages %}
                    <div class="message" 
                        {% if message.admin_response %} 
                            style="opacity: 0.5;" 
                        {% endif %}>
                        <form method="GET" action="/readmessages/details/{{message.id}}/delete">
                            <input onclick= "return deletingMessage(event)" type="image" src="/_audiovisual/delete.png" alt="Lixeira">
                        </form>
                        <a href="/readmessages/details/{{message.id}}">
                            <h1>
                                {{message.title}}
                                    {% if message.admin_response %}
                                        - <strong>&#10004;</strong>
                                    {% endif %}
                            </h1>
                            <h3>{{message.name}}</h3>
                            <p>{{message.msg}}</p>
                            {% if message.admin_response %}
                                <h4>Respondida em {{message.answered_at}}</h4>
                            {% else %}
                                <h4>Recebida em {{message.sent_at}}</h4>
                            {% endif %}
                            <h2>Nvl. {{message.mUrg}}</h2>
                        </a>
                    </div>
            {% endfor %}

        {% else %}

            <h2>Você não possui mensagens!</h2>

        {% endif %}

        <footer>
            <p>
                &copy; Copyright 2013 - by Curso em Vídeo
            </p>
            <p>
                <a href="https://www.facebook.com/CursosEmVideo/" target="_blank">Facebook</a> | <a href="https://twitter.com/cursosemvideo" target="_blank">Twitter</a>
            </p>
        </footer>
    </div>
    </body>
</html>

