<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagens - Detalhes</title>
    <link rel="stylesheet" href="/_css/estilo.css">
    <link rel="stylesheet" href="/_css/estilo-admin.css">
</head>
<body>
    <script src="/_javascript/admin-file.js"></script>

    <div id="interface">
            <a href="/readmessages"><input type="image" src="/_audiovisual/voltar.png" alt="Voltar" id="backButton"></a>
            <form id=detail>
            <!-- <form method="POST" action="/readmessages" id="detail"> -->

                {% for message in messages %}
                    <input method="GET" action="/readmessages/detail/{{message.id}}/delete" type="image" src="/_audiovisual/delete.png" alt="Lixeira">
                    <h2>Nível de urgência: {{message.mUrg}}</h2>
                    <h3>{{message.name}}</h3>
                    <h5>Email: {{message.email}}</h5>
                    <h5>Sexo: {{message.nSex}}</h5>
                    <h5>Data de nascimento: {{message.birth}}</h5>
                    <h5>Endereço: {{message.adress}}, nº {{message.adressNum}} - {{message.adressComplement}} / {{message.city}}, {{message.state}}</h5>
                    <h4></h4>
                    <h3>{{message.title}}</h3>
                        <p>{{message.msg}}</p>
                    
                    {% if message.quest %}

                        <h4>Pedido:</h4>
                            <p>Desejo receber <strong>{{message.amount}}</strong> Glasses da cor <strong id="color-request">{{message.color}}</strong>.</p>
        
                    {% else %}

                        <h4>Não há pedidos :(</h4>

                    {% endif %}
                        
                {% endfor %}

                <textarea name="admin-answer" id="adminAnswer" cols="30" rows="10"></textarea>

                <button onclick="return verifyAnswer(event)" type="submit">Responder</button>

            </form>
    </div>
</body>
</html>
