{% extends "basic-layout.html" %}
    
    {% set pageTitle = "Contato - Google Glass" %}

    {% set pathEstilo2 = "/_css/form.css" %}
    
    {% set srcIcone = "/_audiovisual/contato.png" %}
    {% set altDescription = "Contato" %}
    
{% block content %} 

    <script>
        function calc_total() {
            let qtd = document.querySelector('input#quantPedido').value
            let valor = Number(qtd) * 1500
            document.querySelector('input#precoPedido').value = valor
        }
    </script>

    <section id="corpo-full">
        <article>
            <header>
                <h3>Fale Conosco > Contato</h3>
                <h1>Formulário de Contato</h1>
                <h2>por Gustavo Guanabara</h2>
                <h3 class="right">Atualizado em 01/Maio/2013</h3>
            </header>

            <form id="contato" method="POST" action="/fale-conosco/submit" oninput="calc_total()">
                <fieldset id="usuario">
                    <legend>
                        Identificação do Usuário
                    </legend>
                        <p>
                            <label for="idName">Nome:</label>
                            <input name="name" id="idName" type="text">
                        </p>
                        <p>
                            <label for="idEmail">E-mail:</label>
                            <input name="email" id="idEmail" type="email">
                        </p>
                        <fieldset id="sexo">
                            <legend>Sexo</legend>
                                <input type="radio" name="nSexo" id="fem" checked><label for="fem">Feminino</label> <br>
                                <input type="radio" name="nSexo" id="male"><label for="male">Masculino</label>
                        </fieldset>
                        <p>
                            <label for="datanasc">Data de nascimento:</label>
                            <input name="birth" id="datanasc" type="date" name="date" placeholder="Data de nascimento">
                        </p>
                </fieldset>
    
                <fieldset id="endereco">
                    <legend>
                        Endereço do Usuário
                    </legend>
                        <p>
                            <label for="endLogra">Logradouro:</label>
                            <input name="adress" type="text" placeholder="Rua, Av., Praça, etc.">
                        </p>
                        <p>
                            <label for="numRua">Número:</label>
                            <input id="numRua" type="number" name="adressNum" min="0" max="100000">
                            <label for="complem">Complemento:</label>
                            <input name="adressComplement" id="complem" type="text" size="4">
                        </p>
                        <p>
                            <label for="endEstado">Estado:</label>
                            <select name="endEstado" id="endEstado">
                                <option value="_" default>Selecione o estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                            <label for="endCity">Cidade:</label>
                            <input name="city" id="endCity" type="text">
                        </p>
                </fieldset>
    
                <fieldset id="mensagem">
                    <legend>
                        Mensagem do Usuário
                    </legend>
                        <P>
                            <label for="msgUrg">Grau de Urgência:</label>
                        </p>    
                        <p>
                            Mínimo<input type="range" name="mUrg" id="msgUrg" min="0" max="5">Máximo
                        </P>
                        <p>
                            <label for="msg">Mensagem:</label> <br>
                            <textarea name="msg" id="msg" cols="30" rows="7"></textarea>
                        </p>
                </fieldset>
    
                <fieldset id="pedido">
                    <legend>
                        Quero um Google Glass
                    </legend>
                        <p>
                            <input type="checkbox" name="pedido" id="checkPedido" checked>
                            <label for="checkPedido">Gostaria de adquirir um Google Glass quando disponível</label>
                        </p>
                        <p>
                            <label for="corPedido">Cor:</label>
                            <input type="color" name="cor" id="corPedido">
                        </p>
                        <p>
                            <label for="quantPedido">Quantidade:</label>
                            <input name="amount" id="quantPedido" type="number" min="0" max="1000">
                        </p>
                        <p>
                            <label for="precoPedido">Preço Total: R$</label>
                            <input id="precoPedido" type="text" readonly>
                        </p>
                </fieldset>

                <input id="submitButton" type="image" src="/_audiovisual/botao-enviar.png" alt="Botão para envio do formulário.">
            </form>

        </article>
    </section>

{% endblock %}