{% extends "basic-layout.html" %}
    
    {% set pageTitle = "Multimídia - Google Glass" %}

    {% set pathEstilo2 = "/_css/media.css" %}
    
    {% set srcIcone = "/_audiovisual/multimidia.png" %}
    {% set altDescription = "Multimídia" %}
    
{% block content %} 

    <script src="/_javascript/videos.js"></script>

    <section id="corpo-full">
        <article>
            <header>
                <h3>Glass > Multimídia</h3>
                <h1>Sons e Vídeos</h1>
                <h2>por Gustavo Guanabara</h2>
                <h3 class="right">Atualizado em 01/Maio/2013</h3>
            </header>

            <div id="tv-radio">
                <button id="botao-esquerda" onclick="backward()">
                    <img src="/_audiovisual/botao-esquerda.png" alt="Botão para esquerda">
                </button>
                <button id="botao-direita" onclick="forward()">
                    <img src="/_audiovisual/botao-direita.png" alt="Botão para direita">
                </button>
                <audio id="musica" src="/_audiovisual/2009-lovers-carvings-bibio.mp3" controls="controls">
                    Desculpe, mas não foi possível carregar o áudio. Tente novamente com um navegador compatível.
                </audio>

                <iframe id="videos" width="440" height="315" src="https://www.youtube.com/embed/4EvNxWhskf8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    Desculpe, mas não foi possível carregar o vídeo. Tente novamente com um navegador compatível.
                </iframe>
            </div>
        </article>
    </section>

{% endblock %}