{% extends "basic-layout.html" %}
    
    {% set pageTitle = "Especificações - Google Glass" %}

    {% set pathEstilo2 = "/_css/specs.css" %}
    
    {% set srcIcone = "/_audiovisual/especificacoes.png" %}
    {% set altDescription = "Especificações" %}
    
{% block content %} 

    <section id="corpo-full">
        <article>
            <header>
                <h3>Glass > Especificações</h3>
                <h1>Raio-X no Google Glass</h1>
                <h2>por Gustavo Guanabara</h2>
                <h3 class="right">Atualizado em 01/Maio/2013</h3>
            </header>

            <p>
                Clique em qualquer área destacada da imagem para ter mais informações sobre os recursos do Google Glass. Qualquer ponto vermelho vai te levar a um lugar cheio de novas informações.
            </p>
            
            <section id="conteudo">
                <img src="/_audiovisual/glass-esquema-marcado.jpg" alt="Imagem interativa do Google Glass" usemap="#meumapa">
                <map name="meumapa">
                    <area shape="poly" coords="182,218,265,206,266,243,184,256" href="/google-glass#tela" target="janela" alt="Área interativa para detalhes sobre tela.">
                    <area shape="circle" coords="158,243,11.5" href="/google-glass#camera" target="janela" alt="Área interativa para detalhes sobre câmera.">
                    <area shape="poly" coords="28,143,83,216,84,249,27,169" href="/google-glass#sensores" target="janela" alt="Área interativa para detalhes sobre sensores.">
                    <area shape="circle" coords="76,52,11.5" href="/google-glass#batGad" target="janela" alt="Área interativa para detalhes sobre bateria e gadgets.">
                </map>
                <iframe name="janela" id="frame-spec" src="/google-glass" frameborder="0" scrolling="no"></iframe>
            </section>
            
        </article>
    </section>
    
{% endblock %}
